<%- include('header') %>
<div class="ui main text container">
    <h1 class="ui header">Welcome to Express</h1>
    <p>This is a basic nodejs project.</p>
     <p>A text container is used for the main container, which is useful for single column layouts</p>
    <img class="wireframe" src="imgs/media-paragraph.png">
    <img class="wireframe" src="imgs/paragraph.png">
    <img class="wireframe" src="imgs/paragraph.png">
    <img class="wireframe" src="imgs/paragraph.png">

</div>

<%- include('footer') %>